<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 编辑商品</title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('lst')}">返回</a></span>
        <span id="search_id"> - 编辑商品</span>
</block>
<!--其它样式-->
<block name="asset">
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/datepicker/jquery-ui-1.9.2.custom.min.css">
  <script type="text/javascript" language="javascript" src="__PUBLIC__/datepicker/jquery-ui-1.9.2.custom.min.js"></script>
  <style type="text/css">
      .content{display:none;}
      ul li{list-style-type: none;display: inline;margin-left: 20px}
  </style>
  <script type="text/javascript">
      UE.getEditor('goods_desc',{
          'initialFrameWidth':'100%',
          'initialFrameHeight':200,
          'maximumWords':200
      });
      $(function(){
          //时间选择器
          $('#promote_start_time').datepicker({dateFormat:"yy-mm-dd"});
          $('#promote_end_time').datepicker({dateFormat:"yy-mm-dd"});

          //选项卡的切换
          $("#tabbar-div p span").click(function(){
              var index=$(this).index();
              $(this).removeClass('tab-back').addClass('tab-front').siblings().removeClass('tab-front').addClass('tab-back');
              $('.content').eq(index).show().siblings('.content').hide();
          });

          //下拉框选择
          $('select[name=type_id]').change(function(){
              //获取选中的类型的id
              var type_id=$(this).val();
              $.get("{:U('ajaxGetAttr')}",{'type_id':type_id},function(res){
                    var json=JSON.parse(res);
                    if(json==null){
                        $('#attr_container').html('');
                        return;
                    }
                    var html='';
                    for(var i=0;i<json.length;i++){
                        html+='<p>'+json[i].attr_name+'：';
                        //1.如果属性是可选的，那就有一个+号
                        //2.如果属性有可选值，那就是一个下拉框
                        //3.如果属性是唯一的，那就是一个文本框
                        if(json[i].attr_type==1)  
                    html+='<a href="javascript:void(0)" onclick="addNew(this)">[+]</a>';
                        if(json[i].attr_option_values==''){   //是否有可选值
                          html+='<input type="text" name="attr['+json[i].id+'][]"/>';
                        }else{
                          var attrs=json[i].attr_option_values.split(',');
                          html+='<select name="attr['+json[i].id+'][]">';
                          html+='<option values="">请选择</option>';
                          for(var j=0;j<attrs.length;j++){
                             html+='<option values="'+attrs[j]+'">'+attrs[j]+'</option>';
                          }
                          html+='</select>';
                        }
                        if(json[i].attr_type==1) 
              html+='属性价格:￥<input type="text" name="attr_price['+json[i].id+'][]"/>元';
                        html+='</p>';
                    }
                    $('#attr_container').html(html);
              });
          });

          //是否促销
          $('#is_promote').click(function(){
              if($(this).is(':checked'))
                   $('.promote_price').removeAttr('disabled');
              else $('.promote_price').attr('disabled','disabled');
          });

          //添加商品图片
          $('#addImg').click(function(){
              $(this).parent().parent().append('<input type="file" name="pics[]"/>');
          });

          // 判断如果现在没有属性,就直接触发AJAX事件获取属性的数据
          <?php if(empty($gaData)): ?>
            $("select[name=type_id]").trigger("change");
          <?php endif; ?>

          //删除图片
          $('.delimage').click(function(){
            if(confirm('确定要删除吗?')){
                var _this=this;
                var id=$(this).attr('pic_id');
                $.get("{:U('ajaxDeletePic')}",{'id':id},function(res){
                   if(res==1){
                        $(_this).parent().remove();
                   }
                });
            }     
          });
      });
      function addNew(a){
          var p=$(a).parent();
          if($(a).html()=='[+]'){  //点击了加号
              var newP=p.clone();  
              //把新克隆出来的old_去掉
              var old_name=newP.find('select').attr('name');
              var new_name=old_name.replace('old_','');
              newP.find('select').attr('name',new_name);  

              var old_price=newP.find('input').attr('name');
              var new_price=old_price.replace('old_','');
              newP.find('input').attr('name',new_price);
              newP.find('a').html('[-]');       
              p.after(newP);
          }
          else{  //点击了减号，则ajax删除属性          
              if(confirm('确定要删除吗?')){
                   var attrId=$(a).attr('gaid');
                   $.get("{:U('ajaxDeleteAttr')}",{'id':attrId},function(res){
                        if(res==1) p.remove();
                   });               
              }  
          }   
      }

      //添加分类
      function addCat(btn){
          var sel=$(btn).next();
          var newSel=sel.clone();
          $(btn).parent().append(newSel);
      }
  </script>
</block>
<block name="main">
<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">基本信息</span>
            <span class="tab-back" id="general-tab">商品描述</span>
            <span class="tab-back" id="general-tab">会员价格</span>
            <span class="tab-back" id="general-tab">商品属性</span>
            <span class="tab-back" id="general-tab">商品相册</span>
        </p>
    </div>
    <div id="tabbody-div">
      <form method="POST" action="__SELF__" style="margin:5px" 
        enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$data.id}" />
        <input type="hidden" name="old_type_id" value="{$data.type_id}" />
        <input type="hidden" name="old_logo" value="{$data.logo}" />
        <input type="hidden" name="old_sm_logo" value="{$data.sm_logo}" />
        <!--基本信息-->
        <div class="content" style="display:block">
          <p>商品名称：<input type="text" name="goods_name" 
          value="{$data.goods_name}"/>
          </p>
          <p>主分类：
            <select name="cat_id">
                <option value="">选择分类</option>
                    <?php foreach ($catData as $k => $v): 
                        if($v['id'] == $data['cat_id'])
                            $select = 'selected="selected"';
                        else 
                            $select = '';
                    ?>
                <option {$select} value="{$v.id}"><?php echo str_repeat('-',$v['level'] * 8); ?>{$v.cat_name}</option>
                        <?php endforeach; ?>
            </select>
          </p>
          <p>其它分类:
            <input type="button" value="添加" class="btn btn-info" onclick="addCat(this)">
            <?php 
            // 循环所在的扩展分类，有几个就输出几个下拉框
                foreach ($extCatId as $k1 => $v1): ?>
                    <select name="ext_cat_id[]" style="margin-top:8px">
                        <option value="">选择分类</option>
                    <?php foreach ($catData as $k => $v): 
                        // 判断选中状态
                    if($v['id'] == $v1['cat_id']) $select = 'selected="selected"';
                    else $select = '';
                    ?>
                 <option {$select} value="{$v.id}"><?php echo str_repeat('-',$v['level'] * 8); ?>{$v.cat_name}</option>
                            <?php endforeach; ?>
                    </select>
                <?php endforeach; ?>
          </p>
          <p>品牌：    
                <select name="brand_id">
                    <option value="">选择品牌</option>
                    <?php foreach ($brandData as $k => $v): 
                    if($v['id'] == $data['brand_id'])
                            $select = 'selected="selected"';
                    else 
                            $select = '';
                    ?>
                    <option {$select} value="{$v.id}">{$v.brand_name}</option>
                    <?php endforeach; ?>
                </select>
          </p>
          <p>市场价：￥ <input type="text" name="market_price" 
          value="{$data.market_price}"/></p>
          <p>本店价：￥ <input type="text" name="shop_price" value="{$data.shop_price}"/></p>
          <p>赠送积分：<input type="text" name="jifen" value="{$data.jifen}"/></p>
          <p>赠送经验值：<input type="text" name="jyz" value="{$data.jyz}"/></p>
          <p>如果要用积分兑换，需要的积分数：
            <input type="text" name="jifen_price" value="{$data.jifen_price}"/>
          </p>
          <p><input type="checkbox" <?php if($data['is_promote'] == 1) echo 'checked="checked"'; ?> value="1" name="is_promote" id="is_promote">
          促销价：<input type="text" <?php if($data['is_promote']==0) echo 'disabled="disabled"'; ?> name="promote_price"
          class="promote_price" value="{$data.promote_price}"/></p>
          <p>促销开始时间：<input <?php if($data['is_promote']==0) echo 'disabled="disabled"'; ?> id="promote_start_time" type="text" name="promote_start_time" class="promote_price" value="<?php if($data['promote_start_time']) echo date('Y-m-d', $data['promote_start_time']);?>"/></p>
          <p>促销结束时间：<input <?php if($data['is_promote']==0) echo 'disabled="disabled"'; ?> id="promote_end_time" type="text" name="promote_end_time" class="promote_price" value="<?php if($data['promote_end_time']) echo date('Y-m-d', $data['promote_end_time']);?>"/></p>
          <p>logo原图：<?php showImage($data['sm_logo']); ?><br/>
          <input type="file" name="logo"/></p>
          <p>是否热卖：
              <input type="radio" name="is_hot" value="1" <?php if($data['is_hot'] == 1) echo 'checked="checked"'; ?>/>是
              <input type="radio" name="is_hot" value="0" <?php if($data['is_hot'] == 0) echo 'checked="checked"'; ?>/>否  
          </p>
          <p>是否新品：
              <input type="radio" name="is_new" value="1" <?php if($data['is_new'] == 1) echo 'checked="checked"'; ?>/>是
              <input type="radio" name="is_new" value="0" <?php if($data['is_new'] == 0) echo 'checked="checked"'; ?>/>否 
          </p>
          <p>是否精品：
              <input type="radio" name="is_best" value="1" <?php if($data['is_best'] == 1) echo 'checked="checked"'; ?>/>是
              <input type="radio" name="is_best" value="0" <?php if($data['is_best'] == 0) echo 'checked="checked"'; ?>/>否 
          </p>
          <p>是否上架：1：上架，0：下架：
              <input type="radio" name="is_on_sale" value="1" <?php if($data['is_on_sale'] == 1) echo 'checked="checked"'; ?>/>上架
              <input type="radio" name="is_on_sale" value="0" <?php if($data['is_on_sale'] == 0) echo 'checked="checked"'; ?>/>下架 
          </p>
          <p>seo优化[搜索引擎【百度、谷歌等】优化]_关键字：
              <input  type="text" name="seo_keyword" value="{$data.seo_keyword}"/>
          </p>
          <p>seo优化[搜索引擎【百度、谷歌等】优化]_描述：
              <input  type="text" name="seo_description" value="{$data.seo_description}"/>
          </p>
          <p>排序数字：<input type="text" name="sort_num" value="{$data.sort_num}"/></p>
        </div>
        <!--商品描述-->
        <div class="content">          
            <p><textarea id="goods_desc" name="goods_desc">{$data.goods_desc}</textarea></p>
        </div>
        <!--会员价格-->
        <div class="content">
            <p>会员价格(如果没有设置，则按照这个级别的折扣率来计算)</p>
            <p>
             <?php  // 循环每个会员级别
                foreach ($mlData as $k => $v): 
              ?>
            {$v.id} - {$v.level_name}（<?php echo $v['rate']/10; ?> 折） ： 
                        ￥<input type="text" size="10" name="mp[{$v.id}]" value="<?php echo $mpData[$v['id']]; ?>"/> 元<br/>
                <?php endforeach; ?>
            </p>
        </div>
        <!--商品属性-->
        <div class="content">
            <p>商品类型:
              <select name="type_id">
                    <option value="">选择类型</option>
                    <?php foreach ($typeData as $k => $v): 
                            if($v['id'] == $data['type_id'])
                                $select = 'selected="selected"';
                            else 
                                $select = '';
                    ?>
                        <option {$select} value="{$v.id}">{$v.type_name}</option>
                    <?php endforeach; ?>
              </select>
            </p>
            <div id="attr_container">
                <?php 
                //所有出现过的属性的ID放到这个数组里,为了输出+号还是-号
                $attrId = array();
                // 循环所有的属性
                foreach ($gaData as $k => $v): ?>
                <p>
                    <?php echo $v['attr_name']; ?> ：
                    <?php if($v['attr_type'] == 1): 
                        // 这个属性是否已经出现过
                        if(in_array($v['attr_id'], $attrId))   $opt = '[-]';
                        else {
                            $opt = '[+]';
                    //如果是第一次出现就把这个新的属性ID放到数组中代表已经出现过了
                            $attrId[] = $v['attr_id'];
                        }
                    ?>
                    <a gaid="{$v.id}" onclick="addNew(this);" href="javascript:void(0);">{$opt}</a>
                    <?php endif; ?>
                    <?php 
                    //如果这个属性值不为空,则说明说明这个值是旧的。
                    if(empty($v['attr_value'])) $old_ = '';
                    else  $old_ = 'old_';

                    if($v['attr_option_values'])//根据可选值判断是下拉框还是文本框
                    {
                        $_arr = explode(',', $v['attr_option_values']);
                        echo '<select name="'.$old_.'ga['.$v['attr_id'].']['.$v['id'].']"><option value="">请选择</option>';
                        foreach ($_arr as $k1 => $v1){
                            if($v1 == $v['attr_value'])
                                  $select = 'selected="selected"';
                            else  $select = '';
                            echo '<option '.$select.' value="'.$v1.'">'.$v1.'</option>';
                        }                 
                        echo '</select>';
                    }
                    else 
                        echo '<input name="'.$old_.'ga['.$v['attr_id'].']['.$v['id'].']" type="text" value="'.$v['attr_value'].'" />';
                    ?>
                    <!--输出属性价格-->
                    <?php if($v['attr_type'] == 1): ?>
                        ￥ <input name="old_attr_price[{$v.attr_id}][{$v.id}]" type="text" size="10" value="{$v.attr_price}" /> 元
                    <?php endif; ?>
                </p>
                <?php endforeach; ?>                
            </div>
        </div>
        <!--商品相册-->
        <div class="content">
          <p><input type="button" class="btn btn-info" id="addImg" value="添加商品图片"/>
          </p>
          <ul id="pics_ul">
            <?php foreach ($gpData as $k => $v): ?>
            <li>
            <input pic_id="{$v.id}" class="delimage" type="button" value="删除"/>
            <?php showImage($v['sm_pic']);?>
            </li>
            <?php endforeach; ?>
          </ul>
        </div>
        <p><input type="submit" class="btn btn-primary" value="确定"/></p>
      </form>
    </div>
</div>
</block>