<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 编辑商品 </title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('lst')}">返回</a></span>
        <span id="search_id"> - 编辑商品 </span>
</block>
<!--其它样式-->
<block name="asset">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
        UE.getEditor('goods_desc',{
            'initialFrameWidth':'100%',
            'initialFrameHeight':200,
            'maximumWords':200
        });
    </script>
</block>

<block name="main">
    <div class="tab-div">
        <div id="tabbar-div">
            <p>
                <span class="tab-front" id="general-tab">通用信息</span>
            </p>
        </div>
        <div id="tabbody-div">
            <form method="POST" action="__SELF__" enctype="multipart/form-data">
             <input type="hidden" name="id" value="{$data['id']}">
            商品名称:<input type="text" name="goods_name" value="{$data.goods_name}"/><br />
            商品价格:<input type="text" name="price" value="{$data.price}" /><br />
            <img src="UPLOAD_PATH<?php echo substr($data['sm_logo'],16);?>"/>
            商品logo:<input type="file" name="logo"  /><br />
            商品描述:<textarea name="goods_desc" id="goods_desc">{$data.goods_name}</textarea><br />
            是否上架:
            <input type="radio" name="is_on_sale" value="1" <?php if($data['is_on_sale']==1)
            echo 'checked="checked"'?> />上架
            <input type="radio" name="is_on_sale" value="0" <?php if($data['is_on_sale']==0)
            echo 'checked="checked"'?> />下架
            <br />
            <input type="submit" class="btn btn-primary" value="提交" />
            </form>
        </div>
    </div>
</block>