<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心</title>
</block>
<!--具体操作-->
<block name="action">
        <span id="search_id"></span>
</block>

<block name="main">
    <div class="list-div">
        <table cellspacing='1' cellpadding='3'>
            <tr>
                <th colspan="4" class="group-title">订单统计信息</th>
            </tr>
            <tr>
                <td width="20%"><a href="#">待发货订单:</a></td>
                <td width="30%"><strong style="color:red">4</strong></td>
                <td width="20%"><a href="#">未确认订单:</a></td>
                <td width="30%"><strong>2</strong></td>
            </tr>
            <tr>
                <td><a href="#">待支付订单:</a></td>
                <td><strong>3</strong></td>
                <td><a href="#">已成交订单数:</a></td>
                <td><strong>3</strong></td>
            </tr>
            <tr>
                <td><a href="#">新缺货登记:</a></td>
                <td><strong>2</strong></td>
                <td><a href="#">退款申请:</a></td>
                <td><strong>0</strong></td>
            </tr>
            <tr>
                <td><a href="#">部分发货订单:</a></td>
                <td><strong>1</strong></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
    <!-- end order statistics -->
    <br />
    <!-- start goods statistics -->
    <div class="list-div">
        <table cellspacing='1' cellpadding='3'>
            <tr>
                <th colspan="4" class="group-title">实体商品统计信息</th>
            </tr>
            <tr>
                <td width="20%">商品总数:</td>
                <td width="30%"><strong>20</strong></td>
                <td width="20%"><a href="#">库存警告商品数:</a></td>
                <td width="30%"><strong style="color:red">7</strong></td>
            </tr>
            <tr>
                <td><a href="#">新品推荐数:</a></td>
                <td><strong>11</strong></td>
                <td><a href="#">精品推荐数:</a></td>
                <td><strong>10</strong></td>
            </tr>
            <tr>
                <td><a href="#">热销商品数:</a></td>
                <td><strong>11</strong></td>
                <td><a href="#">促销商品数:</a></td>
                <td><strong>2</strong></td>
            </tr>
        </table>
    </div>
    <!-- end order statistics -->
    <br />
    <!-- start system information -->
    <div class="list-div">
        <table cellspacing='1' cellpadding='3'>
            <tr>
                <th colspan="4" class="group-title">系统信息</th>
            </tr>
            <tr>
                <td width="20%">服务器操作系统:</td>
                <td width="30%">WINNT (127.0.0.1)</td>
                <td width="20%">Web 服务器:</td>
                <td width="30%">Apache/2.2.22 (Win32) PHP/5.3.8</td>
            </tr>
            <tr>
                <td>PHP 版本:</td>
                <td>5.3.8</td>
                <td>MySQL 版本:</td>
                <td>5.5.24</td>
            </tr>
            <tr>
                <td>安全模式:</td>
                <td>否</td>
                <td>安全模式GID:</td>
                <td>否</td>
            </tr>
            <tr>
                <td>Socket 支持:</td>
                <td>是</td>
                <td>时区设置:</td>
                <td>PRC</td>
            </tr>
            <tr>
                <td>GD 版本:</td>
                <td>GD2 ( JPEG GIF PNG)</td>
                <td>Zlib 支持:</td>
                <td>是</td>
            </tr>
            <tr>
                <td>IP 库版本:</td>
                <td>20071024</td>
                <td>文件上传的最大大小:</td>
                <td>2M</td>
            </tr>
        </table>
    </div>
</block>