<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 添加角色</title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('lst')}">返回</a></span>
        <span id="search_id"> - 添加角色</span>
</block>

<block name="main">
    <div class="main-div">
        <form method="POST" style="margin:5px" action="__SELF__">
            <p>角色名称：<input  type="text" name="role_name"/></p>
            <p>为该角色分配权限:
            	<div class="alert alert-info">
	            <volist name="data" id="obj">
	                {:str_repeat('-',$obj['level']*8)}
					<input type="checkbox" name="auth_id[]" style="margin:5px" 
					value="{$obj.id}">{$obj.auth_name}<br/>
				</volist>
				</div>
            </p>
            <p><input type="submit" class="btn btn-primary" value="确定"/></p>
        </form>
    </div>
</block>