<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 添加角色</title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('lst')}">返回</a></span>
        <span id="search_id"> - 添加角色</span>
</block>
<block name="asset">
    <script type="text/javascript">
       $(function(){
            //JS智能选择
            // 为所有的选择框绑定点击事件
            $(":checkbox").click(function(){       
                var _this=this;
                // 先取出当前权限的level值是多少
                var cur_level = $(this).attr("level");
                var tmplevel = cur_level; // 给一个临时的变量后面要进行减操作
                // 先取出这个复选框所有前面的复选框
                var allprev = $(this).prevAll(":checkbox");
                // 循环每一个前面的复选框判断是不是上级的
                $(allprev).each(function(k,v){
                    // 判断是不是上级的权限
                    if($(v).attr("level") < tmplevel){
                        $(v).get(0).checked=$(_this).get(0).checked;
                        tmplevel--; // 再向上提一级               
                    }
                    else return false; 
                });
                // 所有子权限也选中
                // 先取出这个复选框所有前面的复选框
                var allnext = $(this).nextAll(":checkbox");
                // 循环每一个前面的复选框判断是不是上级的
                $(allnext).each(function(k,v){
                // 判断是不是上级的权限
                    if($(v).attr("level") > cur_level){
                         $(v).get(0).checked=$(_this).get(0).checked;
                         tmplevel++;
                    } 
                    // 遇到一个平级的权限就停止循环后面的不用再判断了
                    else return false;                 
                });
            });   
       });  
    </script>
</block>
<block name="main">
    <div class="main-div">
        <form method="POST" style="margin:5px" action="__SELF__">
            <p>角色名称：<input  type="text" name="role_name"/></p>
            <p>为该角色分配权限:
            	<div class="alert alert-info">
	            <volist name="data" id="obj">
	                {:str_repeat('-',$obj['level']*8)}
					<input type="checkbox" name="auth_id[]" style="margin:5px" 
					value="{$obj.id}" level="{$obj.level}">{$obj.auth_name}<br/>
				</volist>
				</div>
            </p>
            <p><input type="submit" class="btn btn-primary" value="确定"/></p>
        </form>
    </div>
</block>