<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 编辑角色</title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('lst')}">返回</a></span>
        <span id="search_id"> - 编辑角色</span>
</block>
<!-- 列表 -->
<block name="main">
    <div class="main-div">
        <form method="POST" style="margin:5px" action="__SELF__">
        	<input type="hidden" name="id" value="{$data['id']}" />
            <p>角色名称：<input  type="text" name="role_name" value="{$data['role_name']}"/></p>
            <p>重新为该角色分配权限：
                <div class="alert alert-info">
                <volist name="data1" id="obj">
                    {:str_repeat('-',$obj['level']*8)}
                    <input type="checkbox" name="auth_id[]" style="margin:5px" 
                    value="{$obj.id}">{$obj.auth_name}<br/>
                </volist>
                </div>
            </p>
            <input type="submit" class="btn btn-primary" value="确定"/>
        </form>
    </div>
</block>