<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 新增类型 </title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('lst')}">返回</a></span>
        <span id="search_id"> - 新增类型</span>
</block>

<block name="main">
    <div class="main-div">
        <form method="POST" style="margin:5px" action="__SELF__">
                <p>商品类型：<input  type="text" name="type_name" value=""/></p>
              <p> <input type="submit" class="btn btn-primary" value="确定"/> </p>
        </form>
    </div>
</block>