<extend name="Common:common"/>
<!--标题-->
<block name="title">
	<title>管理中心 - 类型列表 </title>
</block>
<!--其它样式-->
<block name="asset">
    <style type="text/css">
      td{text-align: center;}
      a{color: #9cf !important}
    </style>
</block>

<!--具体操作-->
<block name="action">
		<span class="action-span"><a href="{:U('add')}">添加类型</a></span>
		<span id="search_id"> - 类型列表 </span>
</block>

<!-- 列表 -->
<block name="main">
<!-- 搜索 -->
<div class="form-div search_form_div">
    <form method="GET" name="search_form">
		<p>
			商品类型：
	   		<input type="text" name="type_name" size="30" value="<?php echo I('get.type_name'); ?>" />
		</p>
		<p><input type="submit" value="搜索" class="btn btn-info"/></p>
    </form>
</div>
<!-- 列表 -->
<div class="list-div" id="listDiv">
	<table cellpadding="3" cellspacing="1">
    	<tr>
    	    <th>ID</th>
            <th>商品类型</th>
			<th width="150">操作</th>
        </tr>
		<?php foreach ($data as $k => $v): ?>            
			<tr class="tron">
			    <td><?php echo $v['id']; ?></td>
				<td><?php echo $v['type_name']; ?></td>
		        <td align="center">
		        	<a href="<?php echo U('Attr/lst?type_id='.$v['id']); ?>">属性列表</a> |
		        	<a href="<?php echo U('edit?id='.$v['id'].'&p='.I('get.p')); ?>" title="编辑">编辑</a> |
	                <a href="<?php echo U('delete?id='.$v['id'].'&p='.I('get.p')); ?>" onclick="return confirm('确定要删除吗？');" title="移除">移除</a> 
		        </td>
	        </tr>
        <?php endforeach; ?> 
		<?php if(preg_match('/\d/', $page)): ?>  
        <tr><td align="right" nowrap="true" colspan="99" height="30"><?php echo $page; ?></td></tr> 
        <?php endif; ?> 
	</table>
</div>
</block>