<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 新增管理员 </title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('Admin/Admin/lst')}">返回</a></span>
        <span id="search_id"> - 新增管理员</span>
</block>

<block name="main">
    <div class="main-div">
        <form method="POST" action="__SELF__" style="margin:5px">
                <p>账号：<input type="text" name="username" /> </p>
                <p>密码：<input type="password" size="25" name="password" /></p>
                <p>确认密码：<input type="password" size="25" name="cpassword"/></p>
                <p>为该管理员分配角色：
                  <div class="alert alert-info">
                    <volist name="roleData" id="v">
                        <input type="checkbox" name="role_id[]" style="margin:10px" 
                        value="{$v.id}">{$v.role_name}<br/>
                    </volist>
                    </div>
                </p>
                是否启用(1启用,0禁用)：
                 <input type="radio" name="is_use" value="1" checked="checked" />启用 
                <input type="radio" name="is_use" value="0"  />禁用 
                 <p><input type="submit" class="btn btn-primary" value="确定"/> </p>
        </form>
    </div>
</block>