<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 编辑权限</title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('lst')}">返回</a></span>
        <span id="search_id"> - 编辑权限</span>
</block>
<!-- 列表 -->
<block name="main">
    <div class="main-div">
        <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data" >
        	<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
                            <input type="submit" class="btn btn-primary" value="确定"/>
        </form>
    </div>
</block>