<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 编辑管理员</title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('Admin/Admin/lst')}">返回</a></span>
        <span id="search_id"> - 编辑管理员</span>
</block>
<!-- 列表 -->
<block name="main">
    <div class="main-div">
        <form method="POST" style="margin-left:5px" action="__SELF__">
        <input type="hidden" name="id" value="{$data['id']}" />
        <p>账号：<input type="text" name="username" value="{$data['username']}"/></p>
        <p>密码：<input type="password" size="25" name="password" value="{$data['password']}"/></p>
        <p>确认密码：<input type="password" size="25" name="cpassword" value="{$data['password']}"/></p>
        <p>为该管理员重新分配角色：
            <div class="alert alert-info">
                <volist name="roleData" id="v">
                    <input type="checkbox" name="role_id[]" style="margin:10px" 
                    value="{$v.id}"
                    <?php if(strpos($data['role_id'],$v['id'])!==false) 
                    echo "checked"
                    ?>
                    >{$v.role_name}<br/>
                </volist>
            </div>
        </p>
        <p>是否启用(1启用,0禁用)：
        <input type="radio" name="is_use" value="1" <?php if($data['is_use'] == '1') echo 'checked="checked"'; ?> />启用 
        <input type="radio" name="is_use" value="0" <?php if($data['is_use'] == '0') echo 'checked="checked"'; ?> />禁用 
        </p>
        <p><input type="submit" class="btn btn-primary" value="确定"/></p>
        </form>
    </div>
</block>