<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 编辑商品分类</title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('lst')}">返回</a></span>
        <span id="search_id"> - 编辑商品分类</span>
</block>
<!-- 列表 -->
<block name="main">
    <div class="main-div">
        <form method="POST" style="margin:5px" action="__SELF__">
        <input type="hidden" name="id" value="<?php echo $data['id']; ?>"/>
        <p>上级分类：
            <select name="pid">
    			<option value="0">顶级分类</option>
    			<?php foreach ($parentData as $k => $v): ?> 
    		<?php if($v['id'] == $data['id'] || in_array($v['id'], $children)) continue ; ?> 
    			<option <?php if($v['id'] == $data['pid']): ?>selected="selected"<?php endif; ?> value="<?php echo $v['id']; ?>"><?php echo str_repeat('-', 8*$v['level']).$v['cat_name']; ?>
                </option>
    		    <?php endforeach; ?>    		
        	</select>
        </p>
        <p>分类名称:<input type="text" name="cat_name" value="{$data['cat_name']}"/></p>
        <p><input type="submit" class="btn btn-primary" value="确定"/> </p>
        </form>
    </div>
</block>