<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 编辑会员级别</title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('lst')}">返回</a></span>
        <span id="search_id"> - 编辑会员级别</span>
</block>
<!-- 列表 -->
<block name="main">
    <div class="main-div">
        <form method="POST" style="margin:5px" action="__SELF__">
        <input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
                         <p>级别名称：
                    <input  type="text" name="level_name" value="<?php echo $data['level_name']; ?>" />
                 </p>
                     <p>积分下限：
                    <input  type="text" name="bottom_num" value="<?php echo $data['bottom_num']; ?>" />
                 </p>
                     <p>积分上限：
                    <input  type="text" name="top_num" value="<?php echo $data['top_num']; ?>" />
                 </p>
                     <p>折扣率，90为9折：
                    <input  type="text" name="rate" value="<?php echo $data['rate']; ?>" />
                 </p>
                       <p><input type="submit" class="btn btn-primary" value="确定"/> </p>
        </form>
    </div>
</block>