<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!--标题-->
	<block name="title">
	<title>管理中心 - </title>
	</block>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="__PUBLIC__/Admin/Styles/general.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/Admin/Styles/main.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.min.js">
	</script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js">
	</script>
	<!--其它样式-->
	<block name="asset"></block>
</head>
<body>
<h1 style="font-size:14px">
    <span><a href="{:U('Index/main')}" style="color:#9cf">管理中心</a></span>

    <!--具体操作-->
    <block name="action">
    	<span class="action-span"><a href="{:U('Goods/add')}">添加新商品</a></span>
		<span id="search_id"> - 添加新商品 </span>
	</block>

    <div style="clear:both"></div>
</h1>

<!--内容主题-->
<block name="main">
</block>

<div id="footer">版权所有,侵权必究@2016</div>
</body>
</html>