<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 编辑属性</title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('lst')}">返回</a></span>
        <span id="search_id"> - 编辑属性</span>
</block>
<!-- 列表 -->
<block name="main">
    <div class="main-div">
        <form method="POST" style="margin:5px" action="__SELF__">
        <input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
              <p>商品类型:
                <select name="type_id">
                  <volist name="typeData" id="v">
                    <option value="{$v['id']}" <?php if($type_id==$v['id']) echo 'selected="selected"'?>>
                    {$v['type_name']}</option>
                  </volist>
                </select>
              </p>
              <p>属性名：<input  type="text" name="attr_name" value="{$data['attr_name']}"/>
              </p>
              <p>属性的类型(0唯一,1可选)：
                <input type="radio" name="attr_type" value="0" <?php if($data['attr_type'] == '0') echo 'checked="checked"'; ?> />唯一 
                <input type="radio" name="attr_type" value="1" <?php if($data['attr_type'] == '1') echo 'checked="checked"'; ?> />可选 
              </p>
              <p>属性的可选值，多个可选值用，隔开：
              <input  type="text" name="attr_option_values" value="<?php echo $data['attr_option_values']; ?>" />
              </p>
              <p><input type="submit" class="btn btn-primary" value="确定"/> </p>
        </form>
    </div>
</block>