<extend name="Common:common"/>
<!--标题-->
<block name="title">
	<title>管理中心 - 属性列表 </title>
</block>
<!--其它样式-->
<block name="asset">
    <style type="text/css">
      td{text-align: center;}
      a{color:#9cf !important}
    </style>
</block>

<!--具体操作-->
<block name="action">
		<span class="action-span"><a href="{:U('add',array('type_id'=>$type_id))}">
		添加属性</a></span>
		<span id="search_id"> - 属性列表 </span>
</block>

<!-- 列表 -->
<block name="main">
<p>按商品类型显示：
<select name="type_id" onchange="location.href='__ACTION__/type_id/'+this.value">
	<volist name="typeData" id="v">
		<option value="{$v['id']}" <?php if($type_id==$v['id']) echo 'selected="selected"'?>>
		{$v['type_name']}</option>
	</volist>
</select>
</p>
<div class="list-div" id="listDiv">
	<table cellpadding="3" cellspacing="1">
    	<tr>
    	    <th>id</th>
            <th>所在的类型的id</th>
            <th>属性名</th>
            <th>属性的类型(0唯一 ,1可选)</th>
            <th>属性的可选值，多个可选值用，隔开</th>
			<th width="120">操作</th>
        </tr>
		<?php foreach ($data as $k => $v): ?>            
			<tr class="tron">
			    <td><?php echo $v['id']; ?></td>
				<td><?php echo $v['type_id']; ?></td>
				<td><?php echo $v['attr_name']; ?></td>
				<td><?php echo $v['attr_type']; ?></td>
				<td><?php echo $v['attr_option_values']; ?></td>
		        <td align="center">
		        	<a href="<?php echo U('edit?id='.$v['id'].'&p='.I('get.p').'&type_id='.$type_id); ?>" title="编辑">编辑</a> |
	                <a href="<?php echo U('delete?id='.$v['id'].'&p='.I('get.p').'&type_id='.$type_id); ?>" onclick="return confirm('确定要删除吗？');" title="移除">移除</a> 
		        </td>
	        </tr>
        <?php endforeach; ?> 
		<?php if(preg_match('/\d/', $page)): ?>  
        <tr><td align="right" nowrap="true" colspan="99" height="30"><?php echo $page; ?></td></tr> 
        <?php endif; ?> 
	</table>
</div>
</block>