<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 新增权限 </title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('Admin/Admin/lst')}">返回</a></span>
        <span id="search_id"> - 新增权限</span>
</block>
<block name="main">
    <div class="main-div">
        <form style="margin:5px"
        method="POST" action="__SELF__" enctype="multipart/form-data">
        <p>上级权限：<select name="pid">
    						<option value="0">顶级权限</option>
    						<?php foreach ($parentData as $k => $v): ?>						
                            <option value="<?php echo $v['id']; ?>"><?php echo str_repeat('-', 8*$v['level']).$v['auth_name']; ?></option>
    						<?php endforeach; ?>					
                    </select>
        </p>
    	<p>权限名称：<input  type="text" name="auth_name"/></p>
        <p>模块名称：<input  type="text" name="module_name"/></p>
        <p>控制器名称：<input  type="text" name="controller_name"/></p>
        <p>方法名称：<input  type="text" name="action_name" 
        placeholder="如果无方法则填null"/></p>
        <input type="submit" class="btn btn-primary" value="确定" />   
        </form>
    </div>
</block>