<extend name="Common:common"/>
<!--标题-->
<block name="title">
        <title>管理中心 - 编辑权限</title>
</block>
<!--具体操作-->
<block name="action">
        <span class="action-span"><a href="{:U('lst')}">返回</a></span>
        <span id="search_id"> - 编辑权限</span>
</block>
<block name="asset">
    <script type="text/javascript">
        $(function(){
            $("input[type=submit]").click(function(){
                var p_level=parseInt($("#sl").find("option:selected").attr("level"));
                var pid=parseInt($('#sl').val());
                var auth_level=(p_level==0&&pid==0)?0:(p_level+1);
                var data={
                    'id':$('#auth_id').val(),
                    'auth_name':$('#auth_name').val(),
                    'module_name':$('#module_name').val(),
                    'controller_name':$('#controller_name').val(),
                    'action_name':$('#action_name').val(),
                    'pid':pid,
                    'auth_level':auth_level
                };
                $.post("{:U('Admin/Auth/edit')}",data,function(res){
                    if(res==1){
                        $("#info").text('编辑成功').parent().show();
                    }else{
                        $("#info").text('编辑失败').parent().show();
                    }
                    setTimeout(function(){
                       $("#info").parent().hide();
                    },3000);
                });
                return false;     
            });
        });
    </script>
</block>
<!-- 列表 -->
<block name="main">
    <div class="main-div">
        <div class="alert alert-warning alert-dismissible hide" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
          </button>
             <span id="info"></span>
        </div>
        <form style="margin:5px">
        <input type="hidden" value="{$data['id']}" id="auth_id"/>
        <p>上级权限：
        <select name="pid" id="sl">
            <?php if($data_p['id']){?>
                <option value="<?= $data['pid']?>" level="<?= $data_p['auth_level']?>">
                   <?= $data_p['auth_name']?>
                </option>
                <option value="0" level="0">顶级权限</option>
            <?php } else{?>
                <option value="0" level="0">顶级权限</option>
            <?php }?>
            <volist name="parentData" id="v">
                <option value="{$v['id']}" level="{$v['auth_level']}">
                 {:str_repeat('-', 8*$v['auth_level']).$v['auth_name']}
                </option>
            </volist>                     
        </select>
        </p>
        <p>权限名称：<input type="text" id="auth_name" value="{$data['auth_name']}" /></p>
        <p>模块名称：<input type="text" id="module_name" value="{$data['module_name']}"/>
        </p>
        <p>控制器名称：<input  type="text" id="controller_name" value="{$data['controller_name']}"/></p>
        <p>方法名称：<input  type="text" id="action_name" 
        value="{$data['action_name']}"
        placeholder="如无方法名则填null"/>
        </p>
        <input type="submit" class="btn btn-primary" value="确定"/>   
        </form>
    </div>
</block>